<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Successfully download the video.</h1>
    <form action="/playground/showfinalimage/" method="POST">
        <label for="text-input">Please enter keywords to get the image:</label>
        <input type="text" id="text-input" name="text-input">
        <button type="submit">Submit</button>
    </form>
</body>
</html>